body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr.trimpar {
    background-color: #f7f7f7;
}

tr.trpar {
    background-color: #e0e0e0;
}

button {
    background-color: #0074cc;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

button:hover {
    background-color: #0059a3;
}

/*-------------------------------------CSS-John---------------------------*/

.Sup {
    justify-content: center;
    width: 690px;
}

footer {
    background-color:#0074cc;
    font-family:  Arial, sans-serif;
    margin-right: 5px;
    margin-top: 25px;
    
}

.container1{
    display: flex;
    margin-top: 20px;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-u {
    max-width: 48%;
    margin-left: 25px;
    margin-right: 1140px;
    margin-top: 25px;
}

.logo-u-fisc{
    margin-top: 25px;
}

