/*------------------------------CSS SUE -------------------------------------*/
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgba(128, 128, 128, 0.137) ;
}
.b-comunidad {
    width: 100%;
    height: 500px;
    background-color: rgba(128, 128, 128, 0.37);
    position: relative; 
}
.c-comunidad {
    width: 60%;
    height: 70%;
    position: absolute;
    margin-top: 70px;
    margin-left: 60px;
    background-color: white;
    font-weight: 400;
    text-align: center;
    z-index: 0;
    border-radius: 15px;
}
.t-comunidad {
    font-size: 40px;
    color: #283618;
    text-align: center;
    margin-top: 40px;
}
.p-comunidad {
    font-size: 30px;
    text-align: center;
    margin-left: 40px;
    margin-right: 150px;
}
.bo-comunidad {
    height: 15%;
    width: 20%;
    background-color: #7f4f24;
    color: white;
    border: 0;
}
.color {
    width: 28%;
    height: 90%;
    top: 30px; 
    right: 110px; 
    background-color: #7f4f24;
    position: absolute;
    z-index: 1;
}
.relleno{
    width: 30%;
    height: 85%;
    top: 45px; 
    right: 220px; 
    background: url(https://w7.pngwing.com/pngs/157/472/png-transparent-rows-diagonal-lines-lines-striped-background-parallel-lines-thumbnail.png);
    position: absolute;
    z-index: 2;
}
.i-comunidad{
    width: 28%;
    height: 80%;
    top: 60px; 
    right: 190px; 
    position: absolute;
    z-index: 3;
}
.b-quien{
    width: 100%;
    height: 1200px;
    background-color: #606C38;
    position: relative; 
}
.cir1{
    width: 15%;
    height: 15%;
    position: absolute;
    left: 10%;
    top: 5%;
    z-index: 1;
    border-radius: 50%;
    background-color: #FEFAE0;
}
.i-quien{
    width: 45%;
    height: 60%;
    top: 5%; 
    right: 190px; 
    position: absolute;
    z-index: 2;
}
.cuadrado{
    width: 50%;
    height: 30%;
    left: 10%;
    top: 45%;
    z-index: 1;
    position: absolute;
    background-color: #283618;
}
.c-quien{
    background-color: white;
    width: 35%;
    height: 50%;
    top: 12%; 
    left: 150px; 
    position: absolute;
    z-index: 2;
    border-radius: 5%;
    text-align: center;
}
.t-quien{
    font-size: 50px;
    margin-top: 70px;
    color: #7f4f24;
}
.p-quien{
    margin: 10%;
    font-size: 30px;
    text-align: left;
}
.bo-quien{
    width: 30%;
    height: 10%;
    color: white;
    background-color: #7f4f24;
    border: 0;
    font-size: 20px;
    border-radius: 5px;
}
.cir2{
    width: 15%;
    height: 15%;
    position: absolute;
    right: 7%;
    top: 60%;
    z-index: 3;
    border-radius: 50%;
    background: url(https://w0.peakpx.com/wallpaper/847/39/HD-wallpaper-military-camouflage.jpg)
}
.t-equipo{
    top: 78%;
    left: 35%;
    position: absolute;
    z-index: 4;
    font-size: 60px;
    color:#FEFAE0;
}
.equipo{
    width: 100%;
    height: 30%;
    top: 90%;
    position: absolute;
    z-index: 4;
    display: flex;
}
.c-equipo{
    margin: 20px;
    padding: 20px;
    width: 30%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}
.i-equipo{
    margin-top: 10px;
    width: 80px;
    height: 80px;
    margin-left: 40%;
}
.p-equipo{
    font-size: 25px;
    margin: 20px;
    font-weight: 500;
}
.s-equipo{
    font-size: 25px;
    text-align: center;
}
.actual{
    position: absolute;
    z-index: 3;
    width: 99%;
    height: 200%;
    
}
.cir3{
    position:absolute;
    z-index: 4;
    margin-top: 30%;
    width: 25%;
    height: 28%;
    left: 30%;
    border-radius: 50%;
    background-color: #606C38;
}
.cir4{
    position:absolute;
    z-index: 4;
    margin-top: 40%;
    width: 35%;
    height: 40%;
    left: 10%;
    border-radius: 50%;
    background: url(img/circ3.jpg);
}
.cir5{
    position:absolute;
    z-index: 4;
    margin-top: 60%;
    width: 25%;
    height: 28%;
    left: 30%;
    border-radius: 50%;
    background: url(img/circ4.jpg);
}
.c-actual{
    position:absolute;
    z-index: 4;
    margin-top: 45%;
    width: 40%;
    height: 45%;
    left: 50%;
    border-radius: 5%;
    background-color: #FEFAE0;
}
.t-actual{
    margin: 40px;
    text-align: center;
    font-size: 40px;
    color: #7f4f24;
}
.p-actual{
    margin: 20px;
    font-size: 30px;
}
.lista {
    margin: 30px;
    text-align: left;
    font-size: 30px;
    text-decoration: none;
    list-style: none;
}
.lista li::before {
    content: "☑️ ";
  }