/*-----------------------------------CSS-JOHN-----------------------------------*/

.Col {
    display: flex;
    background-image: url("https://www.racedepartment.com/attachments/night-1-jpg.612298/");
    background-position: 100% 50%;
    justify-content: center;
    background-repeat: no-repeat;
}

.column {
    width: 150px;
    height: 150px;
    float: right;
    cursor: pointer;
    transition: all 1s ease;
    border-radius: 15px;
    border-bottom: 15px;
    border-color: #ffcd00;
}

.art1 {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    color: white;
    font-weight: 100;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
<<<<<<< HEAD
    padding: 15px;   
=======
    padding: 15px;
    font-style: oblique;

>>>>>>> 3b6bea91e54285a32264530f6d3c08ab78190a98
}


.art2 {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    text-overflow: ellipsis;
    color: white;
    font-weight: 100;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
<<<<<<< HEAD
=======
    font-style: oblique;
>>>>>>> 3b6bea91e54285a32264530f6d3c08ab78190a98
}

.art3 {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    color: white;
    font-weight: 100;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 15px;
    margin-right: 15px;
<<<<<<< HEAD
=======
    font-style: oblique;
>>>>>>> 3b6bea91e54285a32264530f6d3c08ab78190a98
}

.VerMas {
    justify-content: center;
    color: black;
    font-weight: 1200;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

<<<<<<< HEAD
.Titu3{
=======
.titu3 {
>>>>>>> 3b6bea91e54285a32264530f6d3c08ab78190a98
    font-weight: 100;
    width: 350px;
    height: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px;
    border-color: white;
}

.titleC {
<<<<<<< HEAD
    font-style:oblique;
    color: yellow;
=======
    color: #ffcd00;
>>>>>>> 3b6bea91e54285a32264530f6d3c08ab78190a98
    font-weight: 900;
}

.MasBoton {
    width: 300px;
    height: 50px;
    font-weight: 700;
    font-family: 'Scrible Plumy', sans-serif;
    font-size: 20px;
    border-radius: 15px;
    background-color: #ffcd00;
    margin-left: 50px;
    margin-right: 50px;
}

.Bot {
    justify-content: center;
}

/*-----------------------------------CSS-SUE-----------------------------------*/
/*menu*/
.menu {
    display: flex;
    background-color: black;
    width: 100%;
    height: 60px;
    align-items: center;
    border-radius: 10px;
}

.opcion {
    display: flex;
    list-style-type: none;
}

.item {
    padding-left: 100px;
    padding-right: 100px;
    height: 40px;
    border-radius: 10px;
    color: #ffcd00;
    background-color: black;
    text-decoration: solid;
    border: none;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.opcion :hover :first-child {
    background-color: #ffcd00;
    color: black;

}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

/*banner*/
@import url('https://fonts.cdnfonts.com/css/scrible-plumy');

.cont {
    width: 100%;
    color: #ffcd00;
    top: 25%;
    text-align: center;
    margin-bottom: 100px;
    position: absolute;
}

.tbanner {
    font-size: 20px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    ;
    color: white;
    margin-top: 40px;
}

.botonbanner {
    width: 200px;
    height: 50px;
    margin-top: 370px;
    text-align: center;
    border-radius: 15px;
    color: #ffcd00;
    border: 2px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 800;
    background-color: black;
}

.imgbanner {
    top: 120px;
    width: 500px;
    left: 500px;
    position: absolute;
}

.botonbanner :hover {
    background: #ffcd00;
    color: black;
}

.banner video {
    width: 100%;
    opacity: 0.8;
    bottom: 0;
    right: 0;
}

/*-----------------------------------CSS-INGRID-----------------------------------*/

body {
    background-color: black;
}

.title-lab {
    color: white;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
    padding: ;
}

.boton-comprar {
    background-color: #ffcd00;
    font-size: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: center;
    padding: 10px 25px;
    border: 3px solid black;
    cursor: pointer;
}

.logo {
    justify-content: left;
    margin-right: 400px;
    margin-left: 25px;
}

.encabezado {
    display: flex;
    align-items: center;
    margin-bottom: -10px;
}

.botones-encabezado {
    display: flex;
    list-style-type: none;
    cursor: pointer;
}

.boton-encabezado {
    margin-right: 15px;
    align-items: center;
    cursor: pointer;
}

footer {
    background-color: #ffcd00;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5px;
    margin-top: 25px;
}

.clase-eslogan {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    background-size: cover;
    background-position: center;
    height: 525px;
}

.img{
    float: left;
    margin-right: 20px;
}

.text {
    color: white;
    white-space: nowrap;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    flex: 1;
}

.eslogan{
    margin-top: 100px;
    flex: 1;
    text-align: center;
    margin-left: 25px;
}

.parrafo {
    color: white;
    flex: 1;
    margin-top: 350px;
    margin-right: 20px;
    margin-left: -305px;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.boton-eslogan{
    margin-top: 220px;
    justify-content: center;
    align-items: center;
    margin-left: -345px;
}

.boton-descubre{
    background-color: #ffcd00;
    border-radius: 5px;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 25px;
    border: 3px solid black;
    cursor: pointer;
}

.SN {
    float: left;
}

.CDY {
    float: left;
}

.UN {
    float: left;
    margin-right: 50px;
}

.SM {
    float: left;
    margin-top: 5px;

}

.ulft {
    list-style-type: none;
    float: left;
    margin-left: 15PX;
}

.title {
    margin-top: 5px;
    margin-left: 55px;
    margin-right: 10px;
}

.sec2 {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
}

.logo-U {
    max-width: 48%;
}